*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
span{
    color: #FF9E00;
}
.spanPurple{
    color: #7a2cbf;
}
.imagemMascara > img{
    border-radius: 50%;
    border: solid 3px #d1e1ff;
    width: 15em;
    margin: 2em 0 2em 6.875em;
    position:relative;
    z-index: 2;
}
.mascara {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-header i{
    font-size: 3em;
    overflow-y: hidden;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.main-header h1{
    overflow-y: hidden;
    color: #d1e1ff;
    position: relative;
    z-index: 2;
    margin-bottom: 0.1em;
    font-family: "Staatliches", sans-serif;
}
.main-header .estatistica{
    text-align: center;
    font-family: "Staatliches", sans-serif;
    font-size: 1em;
}
.social-list{
    list-style: none;
}
.social-list a{
    color: #d1e1ff;
    text-decoration: none;
    margin-right: 1em;
}
.social-list li{
    display: inline;
    margin-top: 1.625em;
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    background-image: url(../images/icon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
.main-header p{
    font-size: 0.7em;
    position: relative;
    z-index: 2;
    color: #d1e1ff;
    font-family: "Lato", sans-serif;
}
.main-header button{
    position: relative;
    z-index: 2;
    margin-left: 10%;
    margin-bottom: 3em;
    width: 80%;
}
.main-header button a{
    text-decoration: none;
    color: #d1e1ff;
    font-family: "Lato", sans-serif;
}
.main-content{
    margin-left: 35%; 
    width: 65%; 
    padding: 20px;    
    color: #161a1d;
    background-color: #BEB7A4;
}
.main-content h2{
    overflow-y: hidden;
    font-family: "Staatliches", sans-serif;
    font-size: 3em;
}
.main-content p{
    font-family: "Staatliches", sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
}
.imagensCasas img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#legenda-fotos-casa{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}
.sobre{
    display: flex;
}
.texto{
    flex: 1;
    margin-right: 1.1em;
}
.carossel{
    flex: 1;
}
#sobre{
    background-color: #ff8400c7;
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#sobre h2{
    text-align: center;
}
#Casas-Eventos h2{
    text-align: center;
    margin-top: 1em; 
}

.carousel{
    width: 100%;
    margin-bottom: 1em;
}
.carousel img{
    width: 100%;
    border-radius: 6px;
}

#artigo h2{
    text-align: justify;
}
#artigo {
    display: block;
    background-color: #7a2cbf98; 
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#artigo button {
    background-color: #FF9E00;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}
#artigo button:hover {
    background-color: #FF8500;
}
#artigo button a {
    text-decoration: none;
    color: #161a1d;
}
#artigo >h2{
    font-size: 1.7em;
    margin-right: 0.8em;
    padding: 0 1.6em 0 1em;
}
#youtube iframe{
    margin-left: 0em;
    margin-bottom: 1em;
    border-radius: .4em;
}
#youtube h2{
    text-align: center;
    margin-top: 0.7em;
}
#equipamentos{
    background-color: #ff8400c7;
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    margin: 0.7em 0 0.3em 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#equipamentos h2{
    text-align: center;
}

@media screen and (max-width:1180px) {
    .imagemMascara >img{
        border-radius: 50%;
        border: solid 3px #d1e1ff;
        width: 13em;
        margin: 2em 0 .5em 6em;
        position:relative;
        z-index: 2;
    }
    .main-header footer{
        position: fixed;
        bottom: 0;
        left: 5em;
    }
    .main-header i{
        font-size: 3em;
    }
    .main-header button{
        margin-bottom: 12px;
    }
    #artigo {
        display: block;
        background-color: #7a2cbf98; 
        width: 100%;
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    #artigo >h2{
        text-align: center;
        font-size: 2em;
        margin-left: 0;
        padding: 0 0 0;
    }
    #youtube iframe{
        margin-left: 0em;
        margin-bottom: 1em;
    }

}
@media screen and (min-width:820px) and (max-width:1179px) {
    .imagemMascara > img{
        border-radius: 50%;
        border: solid 3px #d1e1ff;
        width: 15em;
        margin: 2em 10em 1em 1em;
        position:relative;
        z-index: 2;
    }
    .main-header footer{
        position: inherit;
        bottom: 0;
        left: 1em;
    }
    #artigo {
        display: block;
        background-color: #7a2cbf98; 
        width: 100%;
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    #artigo >h2{
        text-align: center;
        font-size: 2em;
        margin-left: 0;
        padding: 0 0 0;
    }
    .carossel{
        display: none;
    }
    
    #youtube iframe{
        margin-left: 0;
        margin-bottom: 1em;
    }
    .secondIframe{
        margin-top: 2.5em;
    }
    
}

@media screen and (max-width:430px) {
    .main-header{
        position: relative;
        width: 100%;
        height: 50%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
    }
    .mascara {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .main-header footer{
        position: inherit;
        bottom: 0;
        margin-right: 2em;
    }
    .imagemMascara >img{
        border-radius: 50%;
        border: solid 3px #d1e1ff;
        width: 15em;
        margin: 2em 0 2em 5.625em;
        position:relative;
        z-index: 2;
    }
    .main-content{ 
        width: 100%;
        margin-left: 0;
        padding: 20px;    
        color: #161a1d;
        background-color: #BEB7A4;
    }

    .imagensCasas img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }
    #artigo {
        display: block;
        background-color: #7a2cbf98; 
        width: 100%;
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    #youtube iframe{
        width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width:280px) {
    .main-header{
        position: relative;
        width: 100%;
        height: 50%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
    }
    .mascara {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .main-header footer{
        position: inherit;
        bottom: 0;
        left: 0;
    }
    .imagemMascara >img{
        border-radius: 50%;
        border: solid 3px #d1e1ff;
        width: 15em;
        margin: 2em 0 2em 1.2em;
        position:relative;
        z-index: 2;
    }
    .main-content{ 
        width: 100%;
        margin-left: 0;
        padding: 20px;    
        color: #161a1d;
        background-color: #BEB7A4;
    }
    .imagensCasas img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    }
    #artigo {
        display: block;
        background-color: #7a2cbf98; 
        width: 100%;
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    #artigo >h2{
        text-align: center;
        font-size: 1.2em;
        margin-left: 0;
        padding: 0 0 0;
    }
    #youtube iframe{
        width: 100%;
        margin-bottom: 1em;
    }
    .secondIframe{
        margin-top: 4em;
    }
    #equipamentos{
        background-color: #ff8400c7;
        width: 100%;
        border-radius: 10px;
        padding: 0;
        margin: 0.7em 0.3em 0.3em 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    }
    #equipamentos h2{
        text-align: center;
        font-size: 1.5em;
    }
    #equipamentos p{
        font-size: .7em;
    }
    .imagensCasas img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .social-list a{
        color: #d1e1ff;
        text-decoration: none;
        margin-right: 1em;
    }
}
